* {
    box-sizing:border-box;
}

body {
    font-family:sans-serif;
    font-size:0.9em;
    margin:0;
    padding:0;
}

.bodyWrapper {
    padding:1em;
}

.messages {
    border-radius:0.25em;
    border:1px solid lightGray;
    padding:0.5em;
}

.messages .message {
    background-color:lightGray;
    padding:0.25em 0.5em;
    border-radius:0.25em;
    margin:0 0 0.25em 0;
}

.messages .message:last-child {
    margin:0;
}

input.name {
    margin:0 0 1em 0;
    padding:0.5em 1em;

    border-radius:0.25em;
    border:1px solid lightGray;
}

input.message-text {
    margin:1em 0 0 0;
    padding:0.5em 1em;
    width:100%;

    border-radius:0.25em;
    border:1px solid lightGray;
}

.name {
    color: rgb(0,174,216);
    padding-right: 1em;
}

h3 {
    margin:0 0 1em 0;
    font-size:0.9em;
}