* {
    box-sizing:border-box;
}

.group:before, .group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

body {
    font-family:sans-serif;
    font-size:0.9em;
    margin:0;
    padding:0;
}

.bodyWrapper {
    padding:1em;
}

input.server {
    display:inline-block;
    border-radius:0.25em;
    border:1px solid lightGray;
    padding:0.5em 1em;
    margin:0;
}

.messages {
    overflow:scroll;
    position:fixed;
    top:5.5em;
    bottom:5em;
    right:1em;
    left:1em;
    border-radius:0.25em;
    border:1px solid lightGray;
    padding:0.5em;
}

.messages .message {
    margin:0 0 0.25em 0;
}

.messages .message .timestamp {
    float:right;
    margin-left:2em;
    color:#59595A;
}

.messages .message .name {
    padding:0.25em 0.5em;
    background-color:lightGray;
    float:left;
    width:15%;
    border:1px solid lightGray;

    border-top-left-radius:0.25em;
    border-bottom-left-radius:0.25em;
}

.messages .message .name.DarkGray {
    background-color:DarkGray;
    color:#424142;
    border:1px solid #424142;
}

.messages .message .name.Brown {
    background-color:#A14C4F;
    color:#4A0D11;
    border:1px solid #4A0D11;
}

.messages .message .name.DarkGreen {
    background-color:DarkGreen;
    color:#052109;
    border:1px solid #052109;
}

.messages .message .name.DarkSlateBlue {
    background-color:#754CDD;
    color:#1B153D;
    border:1px solid #1B153D;
}

.messages .message .name.DarkSlateGray {
    background-color:DarkSlateGray;
    color:#5E8B8B;
    border:1px solid #5E8B8B;
}

.messages .message .name.IndianRed {
    background-color:IndianRed;
    color:#411819;
    border:1px solid #411819;
}

.messages .message .name.LightSlateGray {
    background-color:LightSlateGray;
    color:#20262C;
    border:1px solid #20262C;
}

.messages .message .text {
    padding:0.25em 0.5em;
    width:85%;
    float:right;
    border:1px solid lightGray;

    border-top-right-radius:0.25em;
    border-bottom-right-radius:0.25em;
    background-color:#EBEBEB;
}

.messages .message:last-child {
    margin:0;
}

input.name {
    display:inline-block;
    margin:0 0.5em 0 0;
    padding:0.5em 1em;
    width:10%;
    font-weight:bold;

    color: #1F1F1F;

    border-radius:0.25em;
    border:1px solid lightGray;
}

input.message-text {
    display:inline-block;
    padding:0.5em 1em;
    width:88%;

    border-radius:0.25em;
    border:1px solid lightGray;
}

.input-container {
    border-top:1px solid lightGray;
    padding:1em;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}

h3 {
    margin:0 0 1em 0;
    font-size:0.9em;
}

.alert {
    -moz-animation:bounceOut .4s linear;
    -webkit-animation:bounceOut .4s linear;
}

@-moz-keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px red; opacity:1;}
        25%{ box-shadow: 0 0 0 1px red; opacity:1;}
        50%{ box-shadow: 0 0 0 7px red; opacity:1; }
        75%{ box-shadow: 0 0 0 4px red; opacity:1;}
        100%{ box-shadow: 0 0 0 5px red; opacity:1;}
}

@-webkit-keyframes bounceOut {
        0%{ box-shadow: 0 0 0 4px red; opacity:1;}
        25%{ box-shadow: 0 0 0 1px red; opacity:1;}
        50%{ box-shadow: 0 0 0 7px red; opacity:1; }
        75%{ box-shadow: 0 0 0 4px red; opacity:1;}
        100%{ box-shadow: 0 0 0 5px red; opacity:1;}
}