
<html>
	<head>
		<title>Chatty Chatty Chat Chat</title>
		<link rel="stylesheet" type="text/css" href="/css/chat.css"/>
	</head>
	<body>
		<div class="bodyWrapper">
			<h3>This is Chatty Chatty Chat Chat</h3>

			<section class="messages"></section>

			<div class="input-container">
				<input placeholder="Your name..." class="name"/>
				<input placeholder="Your message..." class="message-text" />
			</div>
		</div>

		<script src="/lib/zepto.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
		$(function () {
			var $messages = $(".messages"), 
				$input = $("input.message-text"),
				$name = $("input.name"),
				socket = io.connect('http://10.10.26.181'),
				buildMessage = function(data) {
					return '<div class="message"><span class="name">' +data.name +':</span>' + data.text + '</div>';
				},
				scrollToBottom = function() {
			    	$messages[0].scrollTop = $messages[0].scrollHeight - $messages[0].offsetHeight;
				};

		  	
		  	socket.on('message', function (data) {
		    	$messages.append(buildMessage(data));

		    	scrollToBottom();
		  	});

		  	socket.on('history', function (dataList) {
		  		var messages = "";
		  		for(var i = 0; i < dataList.length; i++) {
		  			messages += buildMessage(dataList[i]);
		  		}
		  		$messages.append(messages);

		  		scrollToBottom();
		  	});

		  	$input.on('keypress', function(event){

                if(event.which == 13) {
                	var text = $input.val(),
		  				name = $name.val();

		  			if(name === undefined || name === "") {
		  				name = "Anonymous"
		  			}
                    socket.emit('message', {
                    	name: name,
                    	text: text
                    });
                    $input.val('');
                }
            });
		});
		</script>
	</body>
</html>
